*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh; 
  /* border: 5px solid blue;  */
}
.root{
  width: 100%;
  height: 100%;
  /* border: 5px solid green; */
  display: flex;
}