header{
    width: 30%;
    height: auto;
    background-color: #39a900;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem;
}
.Image{
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    object-fit: cover;
}
h1{
    font-size: 2.6rem;
    color: #fff;
    margin-bottom: 0;
}
.Line{
    width: 50%;
    border: 2.5px solid #fff;
}
.img-sena{
    width: 12rem;
    height: 12rem;
    background-color: #fff;
    border-radius: 50%;
    padding: 1rem;
}
.icons{
    color: inherit;
}
.icons-ul{ 
    padding: .5rem 1.5rem .5rem 1.5rem;
    font-size: 1.8rem ;
    display: flex;
    gap: 2rem;
    background-color: #111418;
    color: #AAB1B0;
    border-radius: 1rem;
    /* border: 2px solid red; */
}